<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>mac_test</name>
  <description></description>
  <remoteFS>/home/vagrant/jenkinsWorkspace</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher"/>
  <label>mac_slave</label>
  <nodeProperties/>
</slave>